In [1]:
import json

# https://hayjo.tistory.com/75
# https://datamod.tistory.com/104

with open('2020_APRIL.json', encoding='UTF-8') as json_file:
    json_data = json.load(json_file)

In [2]:
with open('2020_MAY.json', encoding='UTF-8') as json_file:
    json_data2 = json.load(json_file)

In [3]:
json_data2["timelineObjects"][3]['placeVisit']#['otherCandidateLocations']

{'location': {'latitudeE7': 376763720,
  'longitudeE7': 1267474740,
  'placeId': 'ChIJJcayDX2FfDURvbnuH8qnj1o',
  'address': '대한민국 고양시',
  'name': 'Daehwa Station',
  'sourceInfo': {'deviceTag': -475512123},
  'locationConfidence': 95.52811,
  'calibratedProbability': 87.114624},
 'duration': {'startTimestamp': '2020-05-01T10:00:59.573Z',
  'endTimestamp': '2020-05-01T10:06:44.481Z'},
 'placeConfidence': 'HIGH_CONFIDENCE',
 'centerLatE7': 376764450,
 'centerLngE7': 1267475100,
 'visitConfidence': 95,
 'otherCandidateLocations': [{'latitudeE7': 376761540,
   'longitudeE7': 1267474430,
   'placeId': 'ChIJOWr-Dn2FfDURUzR3GB92k7c',
   'address': '대한민국 고양시',
   'name': 'Daehwa',
   'locationConfidence': 2.1325839,
   'calibratedProbability': 1.94476},
  {'latitudeE7': 376760090,
   'longitudeE7': 1267472870,
   'placeId': 'ChIJlbL8BX2FfDURwffc8jA_sT0',
   'address': '대한민국 고양시',
   'name': 'Daehwa Station',
   'locationConfidence': 0.8630049,
   'calibratedProbability': 0.78699714},
  {'latitudeE7': 376765450,
   'longitudeE7': 1267473779,
   'placeId': 'ChIJHczFDH2FfDURbtyrj69MdCo',
   'address': '대한민국 경기도 고양시 일산서구 대화동 2205-1',
   'name': 'Dunkin Donuts',
   'locationConfidence': 0.36707968,
   'calibratedProbability': 0.33474973},
  {'latitudeE7': 376758941,
   'longitudeE7': 1267474658,
   'placeId': 'ChIJQXsJnR2FfDUR50Xko2pOLso',
   'address': '대한민국 경기도 고양시 일산서구 대화동',
   'name': '설빙 고양일산 대화역점',
   'locationConfidence': 0.29532087,
   'calibratedProbability': 0.26931095}],
 'editConfirmationStatus': 'NOT_CONFIRMED',
 'locationConfidence': 82,
 'placeVisitType': 'SINGLE_PLACE',
 'placeVisitImportance': 'TRANSITIONAL'}

In [4]:
json_data["timelineObjects"][3]['placeVisit']#['otherCandidateLocations']

{'location': {'latitudeE7': 375719786,
  'longitudeE7': 1269800247,
  'placeId': 'ChIJHfTpxeuifDURTjZyp_XxXV0',
  'address': '대한민국 서울특별시 종로구 청진동 삼봉로 48 시그나타워 110-130',
  'name': '시그나타워',
  'semanticType': 'TYPE_WORK',
  'sourceInfo': {'deviceTag': -475512123},
  'locationConfidence': 98.52929,
  'calibratedProbability': 75.99178},
 'duration': {'startTimestamp': '2020-04-01T03:01:32.610Z',
  'endTimestamp': '2020-04-01T09:06:32.317Z'},
 'placeConfidence': 'HIGH_CONFIDENCE',
 'centerLatE7': 375720375,
 'centerLngE7': 1269801730,
 'visitConfidence': 81,
 'otherCandidateLocations': [{'latitudeE7': 375708033,
   'longitudeE7': 1269798544,
   'placeId': 'ChIJu_gMOAWjfDURB_nxHc3e5Jg',
   'address': '대한민국 서울특별시 종로구 종로1가 종로 19',
   'name': 'Le Meiller Jongno Town',
   'locationConfidence': 0.4059033,
   'calibratedProbability': 0.31305733},
  {'latitudeE7': 375725650,
   'longitudeE7': 1269811370,
   'placeId': 'ChIJNW9sf-mifDURpT3RFosIUYw',
   'address': '대한민국 서울특별시 종로구 삼봉로 71',
   'name': 'Shilla Stay Gwanghwamun',
   'locationConfidence': 0.15620677,
   'calibratedProbability': 0.12047617},
  {'latitudeE7': 375726852,
   'longitudeE7': 1269814755,
   'placeId': 'ChIJxycKm-mifDURw0Y1ayUZN1w',
   'address': '대한민국 서울특별시 종로구 수송동 삼봉로 81',
   'name': 'Hongbogseong',
   'locationConfidence': 0.14442357,
   'calibratedProbability': 0.11138825},
  {'latitudeE7': 375719397,
   'longitudeE7': 1269800766,
   'placeId': 'ChIJv3u8xeuifDURjHz0A1VW2KU',
   'address': '대한민국 서울특별시 종로구 삼봉로 48',
   'name': '라이나금융서비스 본점',
   'locationConfidence': 0.11660628,
   'calibratedProbability': 0.08993386}],
 'editConfirmationStatus': 'NOT_CONFIRMED',
 'locationConfidence': 86,
 'placeVisitType': 'SINGLE_PLACE',
 'placeVisitImportance': 'MAIN'}

In [5]:
walking_json = [walk['activitySegment'] for walk in json_data['timelineObjects'] if walk.get('activitySegment', {}).get('activityType')]

In [6]:
walking_json2 = [walk['activitySegment'] for walk in json_data2['timelineObjects'] if walk.get('activitySegment', {}).get('activityType')]

In [7]:
import pandas as pd

data_list = []

for i in walking_json:
    start_timestamp = i['duration']['startTimestamp'][0:10]+" "+i['duration']['startTimestamp'][11:16]
    end_timestamp = i['duration']['endTimestamp'][0:10]+" "+i['duration']['endTimestamp'][11:16]

    start_latitude = i['startLocation']['latitudeE7'] * 1e-7
    start_longitude = i['startLocation']['longitudeE7'] * 1e-7
    end_latitude = i['endLocation']['latitudeE7'] * 1e-7
    end_longitude = i['endLocation']['longitudeE7'] * 1e-7

    data_list.append({
        "시작 날짜": start_timestamp,
        "시작 위치 (Latitude)": start_latitude,
        "시작 위치 (Longitude)": start_longitude,
        "종료 날짜": end_timestamp,
        "종료 위치 (Latitude)": end_latitude,
        "종료 위치 (Longitude)": end_longitude
    })

df = pd.DataFrame(data_list)

df.head()

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 02:35,37.571972,126.980377,2020-04-01 02:39,37.572673,126.981533
1,2020-04-01 02:57,37.572687,126.981551,2020-04-01 03:01,37.572288,126.980348
2,2020-04-01 09:06,37.571930,126.980135,2020-04-01 09:12,37.575819,126.984052
3,2020-04-01 09:20,37.576416,126.985182,2020-04-01 10:11,37.676256,126.747277
4,2020-04-01 10:11,37.676256,126.747277,2020-04-01 10:20,37.671374,126.735683

In [8]:
import pandas as pd

data_list = []

for i in walking_json2:
    start_timestamp = i['duration']['startTimestamp'][0:10]+" "+i['duration']['startTimestamp'][11:16]
    end_timestamp = i['duration']['endTimestamp'][0:10]+" "+i['duration']['endTimestamp'][11:16]

    start_latitude = i['startLocation']['latitudeE7'] * 1e-7
    start_longitude = i['startLocation']['longitudeE7'] * 1e-7
    end_latitude = i['endLocation']['latitudeE7'] * 1e-7
    end_longitude = i['endLocation']['longitudeE7'] * 1e-7

    data_list.append({
        "시작 날짜": start_timestamp,
        "시작 위치 (Latitude)": start_latitude,
        "시작 위치 (Longitude)": start_longitude,
        "종료 날짜": end_timestamp,
        "종료 위치 (Latitude)": end_latitude,
        "종료 위치 (Longitude)": end_longitude
    })

df2 = pd.DataFrame(data_list)

df2.head()

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-05-01 09:00,37.572141,126.980319,2020-05-01 09:07,37.575745,126.983958
1,2020-05-01 09:10,37.576372,126.984956,2020-05-01 10:00,37.676310,126.747277
2,2020-05-01 10:06,37.676485,126.747500,2020-05-01 10:15,37.673001,126.736721
3,2020-05-02 03:09,37.673370,126.736248,2020-05-02 03:11,37.672168,126.736747
4,2020-05-02 03:18,37.672016,126.737136,2020-05-02 03:29,37.680552,126.762771

In [9]:
df2['시작 날짜'] = df2['시작 날짜'].str.replace('-05-', '-04-')

# '종료 날짜' 열의 값을 변경 (05를 04로)
df2['종료 날짜'] = df2['종료 날짜'].str.replace('-05-', '-04-')

df2.head()

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 09:00,37.572141,126.980319,2020-04-01 09:07,37.575745,126.983958
1,2020-04-01 09:10,37.576372,126.984956,2020-04-01 10:00,37.676310,126.747277
2,2020-04-01 10:06,37.676485,126.747500,2020-04-01 10:15,37.673001,126.736721
3,2020-04-02 03:09,37.673370,126.736248,2020-04-02 03:11,37.672168,126.736747
4,2020-04-02 03:18,37.672016,126.737136,2020-04-02 03:29,37.680552,126.762771

In [10]:
data1=df
data2=df2

In [11]:
data1

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 02:35,37.571972,126.980377,2020-04-01 02:39,37.572673,126.981533
1,2020-04-01 02:57,37.572687,126.981551,2020-04-01 03:01,37.572288,126.980348
2,2020-04-01 09:06,37.571930,126.980135,2020-04-01 09:12,37.575819,126.984052
3,2020-04-01 09:20,37.576416,126.985182,2020-04-01 10:11,37.676256,126.747277
4,2020-04-01 10:11,37.676256,126.747277,2020-04-01 10:20,37.671374,126.735683
...,...,...,...,...,...,...
180,2020-04-29 12:07,37.661373,126.743872,2020-04-29 12:15,37.673318,126.736138
181,2020-04-30 03:23,37.673529,126.736555,2020-04-30 03:45,37.673052,126.736205
182,2020-04-30 22:28,37.672412,126.736621,2020-04-30 22:35,37.676320,126.747277
183,2020-04-30 22:35,37.676320,126.747277,2020-04-30 23:23,37.601625,126.935461
184,2020-04-30 23:23,37.601625,126.935461,2020-04-30 23:35,37.572070,126.980407

In [12]:
data2

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 09:00,37.572141,126.980319,2020-04-01 09:07,37.575745,126.983958
1,2020-04-01 09:10,37.576372,126.984956,2020-04-01 10:00,37.676310,126.747277
2,2020-04-01 10:06,37.676485,126.747500,2020-04-01 10:15,37.673001,126.736721
3,2020-04-02 03:09,37.673370,126.736248,2020-04-02 03:11,37.672168,126.736747
4,2020-04-02 03:18,37.672016,126.737136,2020-04-02 03:29,37.680552,126.762771
...,...,...,...,...,...,...
188,2020-04-30 05:28,37.674037,126.735628,2020-04-30 05:37,37.670663,126.732125
189,2020-04-30 05:43,37.670235,126.732450,2020-04-30 05:52,37.672615,126.738006
190,2020-04-31 08:04,37.673814,126.736740,2020-04-31 08:11,37.671230,126.739365
191,2020-04-31 08:25,37.671226,126.739067,2020-04-31 08:29,37.673349,126.737371
192,2020-04-31 23:20,37.673684,126.736666,2020-04-31 23:27,37.671043,126.740664

In [13]:
pip install geopy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopy in /home/s60181908/.local/lib/python3.11/site-packages (2.4.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /home/s60181908/.local/lib/python3.11/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from geopy.geocoders import Nominatim

def geocoding_reverse(lat_lng_str): 
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    address = geolocoder.reverse(lat_lng_str)

    return address

address = geocoding_reverse('37.572141, 126.980319')
print(address)
address = geocoding_reverse('37.576372, 126.984956')
print(address)
address = geocoding_reverse('37.676485,	126.747500')
print(address)
address = geocoding_reverse('37.673370,	126.736248')
print(address)
address = geocoding_reverse('37.672016,	126.737136')
print(address)
type(address)

30, 종로5길, 청진동, 종로1·2·3·4가동, 종로구, 서울, 03158, 대한민국
서울 한양도성, 보문로35길, 동소문동3가, 삼선동, 성북구, 서울, 02847, 대한민국
대화역 제1 광장, 대화동, 일산서구, 고양시, 경기도, 10381, 대한민국
대화2로, 송포동, 일산서구, 고양시, 경기도, 10217, 대한민국
송포농협, 대화로, 송포동, 일산서구, 고양시, 경기도, 10216, 대한민국

geopy.location.Location

In [15]:
pip install haversine

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: haversine in /home/s60181908/.local/lib/python3.11/site-packages (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
from haversine import haversine

Seoul = (37.541, 126.986)
Toronto = (43.65, -79.38)

distance_in_meters = haversine(Seoul, Toronto, unit='m')

if distance_in_meters <= 50:
    print("Yes")
else:
    print("No")

No

In [17]:
df

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 02:35,37.571972,126.980377,2020-04-01 02:39,37.572673,126.981533
1,2020-04-01 02:57,37.572687,126.981551,2020-04-01 03:01,37.572288,126.980348
2,2020-04-01 09:06,37.571930,126.980135,2020-04-01 09:12,37.575819,126.984052
3,2020-04-01 09:20,37.576416,126.985182,2020-04-01 10:11,37.676256,126.747277
4,2020-04-01 10:11,37.676256,126.747277,2020-04-01 10:20,37.671374,126.735683
...,...,...,...,...,...,...
180,2020-04-29 12:07,37.661373,126.743872,2020-04-29 12:15,37.673318,126.736138
181,2020-04-30 03:23,37.673529,126.736555,2020-04-30 03:45,37.673052,126.736205
182,2020-04-30 22:28,37.672412,126.736621,2020-04-30 22:35,37.676320,126.747277
183,2020-04-30 22:35,37.676320,126.747277,2020-04-30 23:23,37.601625,126.935461
184,2020-04-30 23:23,37.601625,126.935461,2020-04-30 23:35,37.572070,126.980407

In [18]:
c1 = df.loc[0]

In [19]:
c1

시작 날짜                2020-04-01 02:35
시작 위치 (Latitude)            37.571972
시작 위치 (Longitude)          126.980377
종료 날짜                2020-04-01 02:39
종료 위치 (Latitude)            37.572673
종료 위치 (Longitude)          126.981533
Name: 0, dtype: object

c2

In [20]:
import pandas as pd

data = {
    '시작 날짜': ['2020-04-01 02:37'],
    '시작 위치 (Latitude)': [37.571972],
    '시작 위치 (Longitude)': [126.980377],
    '종료 날짜': ['2020-04-01 02:41'],
    '종료 위치 (Latitude)': [37.572673],
    '종료 위치 (Longitude)': [126.981533]
}

c2 = pd.DataFrame(data)

In [21]:
import pandas as pd
from haversine import haversine

def find_meeting_points(data_A, data_B):
    meeting_points = []

    for i in range(min(len(data_A), len(data_B))):
        location_A = (data_A['시작 위치 (Latitude)'].values[i], data_A['시작 위치 (Longitude)'].values[i])
        location_B = (data_B['시작 위치 (Latitude)'].values[i], data_B['시작 위치 (Longitude)'].values[i])
        distance = haversine(location_A, location_B, unit='m')

        if distance <= 20:
            time_A_start = data_A['시작 날짜'].values[i]
            time_A_end = data_A['종료 날짜'].values[i]
            time_B_start = data_B['시작 날짜'].values[i]
            time_B_end = data_B['종료 날짜'].values[i]

            if time_A_end < time_B_start:
                meeting_point = f"{location_A}에서 {time_A_end} ~ {time_B_start}에서 만났을 수 있다."
            elif time_B_end < time_A_start:
                meeting_point = f"{location_B}에서 {time_B_end} ~ {time_A_start}에서 만났을 수 있다."
            else:
                meeting_point = f"{location_A}에서 {max(time_A_start, time_B_start)}  ~ {min(time_A_end, time_B_end)}에서 만났을 수 있다."

            meeting_points.append(meeting_point)

    return meeting_points


meeting_points = find_meeting_points(data1, data2)

for point in meeting_points:
    print(point)

(37.5719723, 126.98037679999999)에서 2020-04-01 02:39 ~ 2020-04-01 09:00에서 만났을 수 있다.
(37.6726743, 126.73660629999999)에서 2020-04-02 22:32 ~ 2020-04-03 22:33에서 만났을 수 있다.
(37.576299899999995, 126.984844)에서 2020-04-10 10:00 ~ 2020-04-12 09:28에서 만났을 수 있다.
(37.576307, 126.98491709999999)에서 2020-04-12 23:41 ~ 2020-04-13 09:11에서 만났을 수 있다.
(37.5720601, 126.9803285)에서 2020-04-21 09:20 ~ 2020-04-23 09:01에서 만났을 수 있다.
(37.5762931, 126.98490489999999)에서 2020-04-21 10:10 ~ 2020-04-23 09:11에서 만났을 수 있다.
(37.6721469, 126.7367579)에서 2020-04-21 22:48 ~ 2020-04-23 10:28에서 만났을 수 있다.
(37.6732211, 126.73640239999999)에서 2020-04-24 22:29 ~ 2020-04-25 10:41에서 만났을 수 있다.

In [22]:
data1

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 02:35,37.571972,126.980377,2020-04-01 02:39,37.572673,126.981533
1,2020-04-01 02:57,37.572687,126.981551,2020-04-01 03:01,37.572288,126.980348
2,2020-04-01 09:06,37.571930,126.980135,2020-04-01 09:12,37.575819,126.984052
3,2020-04-01 09:20,37.576416,126.985182,2020-04-01 10:11,37.676256,126.747277
4,2020-04-01 10:11,37.676256,126.747277,2020-04-01 10:20,37.671374,126.735683
...,...,...,...,...,...,...
180,2020-04-29 12:07,37.661373,126.743872,2020-04-29 12:15,37.673318,126.736138
181,2020-04-30 03:23,37.673529,126.736555,2020-04-30 03:45,37.673052,126.736205
182,2020-04-30 22:28,37.672412,126.736621,2020-04-30 22:35,37.676320,126.747277
183,2020-04-30 22:35,37.676320,126.747277,2020-04-30 23:23,37.601625,126.935461
184,2020-04-30 23:23,37.601625,126.935461,2020-04-30 23:35,37.572070,126.980407

In [23]:
data2

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 09:00,37.572141,126.980319,2020-04-01 09:07,37.575745,126.983958
1,2020-04-01 09:10,37.576372,126.984956,2020-04-01 10:00,37.676310,126.747277
2,2020-04-01 10:06,37.676485,126.747500,2020-04-01 10:15,37.673001,126.736721
3,2020-04-02 03:09,37.673370,126.736248,2020-04-02 03:11,37.672168,126.736747
4,2020-04-02 03:18,37.672016,126.737136,2020-04-02 03:29,37.680552,126.762771
...,...,...,...,...,...,...
188,2020-04-30 05:28,37.674037,126.735628,2020-04-30 05:37,37.670663,126.732125
189,2020-04-30 05:43,37.670235,126.732450,2020-04-30 05:52,37.672615,126.738006
190,2020-04-31 08:04,37.673814,126.736740,2020-04-31 08:11,37.671230,126.739365
191,2020-04-31 08:25,37.671226,126.739067,2020-04-31 08:29,37.673349,126.737371
192,2020-04-31 23:20,37.673684,126.736666,2020-04-31 23:27,37.671043,126.740664

In [24]:
pip install flask

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: flask in /home/s60181908/.local/lib/python3.11/site-packages (3.0.0)
Requirement already satisfied: Werkzeug>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from flask) (3.0.0)
Requirement already satisfied: Jinja2>=3.1.2 in /usr/local/lib/python3.11/dist-packages (from flask) (3.1.2)
Requirement already satisfied: itsdangerous>=2.1.2 in /home/s60181908/.local/lib/python3.11/site-packages (from flask) (2.1.2)
Requirement already satisfied: click>=8.1.3 in /home/s60181908/.local/lib/python3.11/site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in /home/s60181908/.local/lib/python3.11/site-packages (from flask) (1.6.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from Jinja2>=3.1.2->flask) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [25]:
!pwd

/home/s60181908/Jung Hwan File

In [26]:
import uuid

myuuid = uuid.uuid4()

print('Your UUID is: ' + str(myuuid))

Your UUID is: a2dba44a-299e-4eba-a776-f07ebab8e5bc

In [27]:
import os
import uuid
from flask import Flask, render_template, request
from werkzeug.utils import secure_filename
import json

app = Flask(__name__)

# 업로드할 디렉토리 설정
UPLOAD_FOLDER1 = '/home/s60181908/tmp1'
UPLOAD_FOLDER2 = '/home/s60181908/tmp2'
app.config['UPLOAD_FOLDER'] = UPLOAD_FOLDER1

def allowed_file(filename):
    return '.' in filename and filename.rsplit('.', 1)[1].lower() == 'json'

@app.route('/', methods=['GET'])
def index():
    return 'Hello World!'

@app.route('/file_upload', methods=['POST'])
def upload_file():
    if request.method == 'POST':
        # 'file' 필드에서 파일 리스트 가져옴
        files = request.files.getlist('file')

        for idx, file in enumerate(files, start=1):
            if file:
                filename = secure_filename(file.filename)
                if allowed_file(filename):
                    unique_filename = str(uuid.uuid4()) + '_' + filename
                    if idx == 1:
                        file.save(os.path.join(app.config['UPLOAD_FOLDER1'], unique_filename))
                    elif idx == 2:
                        file.save(os.path.join(app.config['UPLOAD_FOLDER2'], unique_filename))
                else:
                    return "Error: json 파일만 업로드 가능합니다."

        return "Files uploaded successfully"

    return '''
    <!doctype html>
    <title>File Upload</title>
    <h1>Upload Files</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    '''

if __name__ == '__main__':
    app.run(host='0.0.0.0')

 * Serving Flask app '__main__'
 * Debug mode: off

Address already in use
Port 5000 is in use by another program. Either identify and stop that program, or start the server with a different port.

AttributeError: 'tuple' object has no attribute 'tb_frame'

In [28]:
data2

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 09:00,37.572141,126.980319,2020-04-01 09:07,37.575745,126.983958
1,2020-04-01 09:10,37.576372,126.984956,2020-04-01 10:00,37.676310,126.747277
2,2020-04-01 10:06,37.676485,126.747500,2020-04-01 10:15,37.673001,126.736721
3,2020-04-02 03:09,37.673370,126.736248,2020-04-02 03:11,37.672168,126.736747
4,2020-04-02 03:18,37.672016,126.737136,2020-04-02 03:29,37.680552,126.762771
...,...,...,...,...,...,...
188,2020-04-30 05:28,37.674037,126.735628,2020-04-30 05:37,37.670663,126.732125
189,2020-04-30 05:43,37.670235,126.732450,2020-04-30 05:52,37.672615,126.738006
190,2020-04-31 08:04,37.673814,126.736740,2020-04-31 08:11,37.671230,126.739365
191,2020-04-31 08:25,37.671226,126.739067,2020-04-31 08:29,37.673349,126.737371
192,2020-04-31 23:20,37.673684,126.736666,2020-04-31 23:27,37.671043,126.740664

In [29]:
delete_data = '2020-04-13'
data2['시작 날짜'] = pd.to_datetime(data2['시작 날짜'], format='mixed', errors='coerce')

# 유효한 날짜만 남기기
data2 = data2.dropna(subset=['시작 날짜'])

# 2020-04-13 이전의 행을 삭제
data2 = data2[data2['시작 날짜'] < delete_data]

# 수정된 DataFrame을 출력
data2

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 09:00:00,37.572141,126.980319,2020-04-01 09:07,37.575745,126.983958
1,2020-04-01 09:10:00,37.576372,126.984956,2020-04-01 10:00,37.676310,126.747277
2,2020-04-01 10:06:00,37.676485,126.747500,2020-04-01 10:15,37.673001,126.736721
3,2020-04-02 03:09:00,37.673370,126.736248,2020-04-02 03:11,37.672168,126.736747
4,2020-04-02 03:18:00,37.672016,126.737136,2020-04-02 03:29,37.680552,126.762771
...,...,...,...,...,...,...
63,2020-04-12 10:24:00,37.676371,126.747637,2020-04-12 10:33,37.673927,126.736877
64,2020-04-12 10:33:00,37.673927,126.736877,2020-04-12 10:37,37.674091,126.736950
65,2020-04-12 22:34:00,37.673288,126.736423,2020-04-12 22:45,37.676312,126.747244
66,2020-04-12 22:45:00,37.676312,126.747244,2020-04-12 23:36,37.576268,126.984938
67,2020-04-12 23:36:00,37.576268,126.984938,2020-04-12 23:44,37.572017,126.980324

In [30]:
pip install geopy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopy in /home/s60181908/.local/lib/python3.11/site-packages (2.4.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /home/s60181908/.local/lib/python3.11/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
from geopy.geocoders import Nominatim
import pandas as pd

def filter_data_by_address(df, address):
    try:
        # 지오코더 생성
        geolocator = Nominatim(user_agent="geoapiExercises")
        location = geolocator.geocode(address)

        if location is not None:
            latitude = location.latitude
            longitude = location.longitude
            
            filtered_df = df[(df['시작 위치 (Latitude)'] != latitude) | (df['시작 위치 (Longitude)'] != longitude)]

            return filtered_df
        else:
            return df
    except Exception as e:
        print(f"Error: {str(e)}")
        return df

filtered_data = filter_data_by_address(df, "30, 종로5길, 청진동, 종로1·2·3·4가동, 종로구, 서울, 03158, 대한민국")
filtered_data.head()

Error: Non-successful status code 403

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 02:35,37.571972,126.980377,2020-04-01 02:39,37.572673,126.981533
1,2020-04-01 02:57,37.572687,126.981551,2020-04-01 03:01,37.572288,126.980348
2,2020-04-01 09:06,37.571930,126.980135,2020-04-01 09:12,37.575819,126.984052
3,2020-04-01 09:20,37.576416,126.985182,2020-04-01 10:11,37.676256,126.747277
4,2020-04-01 10:11,37.676256,126.747277,2020-04-01 10:20,37.671374,126.735683

In [32]:
from geopy.geocoders import Nominatim

def geocoding_reverse(lat_lng_str): 
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    address = geolocoder.reverse(lat_lng_str)

    return address

address = geocoding_reverse('37.572141,	126.980319')
print(address)

30, 종로5길, 청진동, 종로1·2·3·4가동, 종로구, 서울, 03158, 대한민국

In [33]:
# 가입 없이 주소->좌표 변환
from geopy.geocoders import Nominatim

address

def geocoding(address):
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    geo = geolocoder.geocode(address)
    crd = {"lat": str(geo.latitude), "lng": str(geo.longitude)}

    return crd

#address = 30, 종로5길, 청진동, 종로1·2·3·4가동, 종로구, 서울, 03158, 대한민국
crd = geocoding(address)
print(crd['lat'])
print(crd['lng'])

37.571660449999996
126.98067886731367

In [34]:
df.head()

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 02:35,37.571972,126.980377,2020-04-01 02:39,37.572673,126.981533
1,2020-04-01 02:57,37.572687,126.981551,2020-04-01 03:01,37.572288,126.980348
2,2020-04-01 09:06,37.571930,126.980135,2020-04-01 09:12,37.575819,126.984052
3,2020-04-01 09:20,37.576416,126.985182,2020-04-01 10:11,37.676256,126.747277
4,2020-04-01 10:11,37.676256,126.747277,2020-04-01 10:20,37.671374,126.735683

In [35]:
df=df.head()

df

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
0,2020-04-01 02:35,37.571972,126.980377,2020-04-01 02:39,37.572673,126.981533
1,2020-04-01 02:57,37.572687,126.981551,2020-04-01 03:01,37.572288,126.980348
2,2020-04-01 09:06,37.571930,126.980135,2020-04-01 09:12,37.575819,126.984052
3,2020-04-01 09:20,37.576416,126.985182,2020-04-01 10:11,37.676256,126.747277
4,2020-04-01 10:11,37.676256,126.747277,2020-04-01 10:20,37.671374,126.735683

In [36]:
import pandas as pd
from haversine import haversine

def remove_data_by_location(df, latitude, longitude, max_distance=50):
    def is_within_max_distance(row):
        start_coords = (row['시작 위치 (Latitude)'], row['시작 위치 (Longitude)'])
        end_coords = (row['종료 위치 (Latitude)'], row['종료 위치 (Longitude)'])
        
        start_distance = haversine((latitude, longitude), start_coords, unit='m')
        end_distance = haversine((latitude, longitude), end_coords, unit='m')
        
        return start_distance > max_distance and end_distance > max_distance
    
    filtered_df = df[df.apply(is_within_max_distance, axis=1)]
    return filtered_df

filtered_data = remove_data_by_location(df, 37.571972, 126.980377, max_distance=50)
filtered_data

,시작 날짜,시작 위치 (Latitude),시작 위치 (Longitude),종료 날짜,종료 위치 (Latitude),종료 위치 (Longitude)
3,2020-04-01 09:20,37.576416,126.985182,2020-04-01 10:11,37.676256,126.747277
4,2020-04-01 10:11,37.676256,126.747277,2020-04-01 10:20,37.671374,126.735683